main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main .abas{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
main .abas .aba{
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 5px;
    border-radius:5px 5px 0px 0px;
}
main .abas .aba.selecionado{
    border-bottom: none;
    background-color: white;
    z-index: 1;
}
main .parametros .telaConteudo.selecionado{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius:0px 10px 10px 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    border-top: none;
}
main .parametros .telaConteudo {
    display: none;
}