/* ----- ESTILO DO CABEÇALHO (MENU) ----- */
.header{
    display: flex;
    align-items: center;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
}
/* ----- FIM DO ESTILO DO CABEÇALHO (MENU) ----- */

/* ----- ESTILO DOS DOIS GRANDES PAINEIS ----- */
main{
    background:#EFEFEF url(../imagens/logo_fundo.png) no-repeat;
    height: 100vh;
}
.corpoPrincipal{
    display: flex;
    justify-content: space-between;
}
.corpoPrincipal .tela{
    background-color: #CCCCCC;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    width: 45%;
}
/* ----- FIM DO ESTILO DOS DOIS GRANDES PAINEIS ----- */

/* ----- ESTILO DO PAINEL DE CONSULTA DE PRODUTOS ----- */
.corpoPrincipal .consultaProdutos{
    padding: 10px;
    text-align: center;
}
.corpoPrincipal .consultaProdutos input{
    border-radius: 10px;
    border: #CCCCCC;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.corpoPrincipal .consultaProdutos .produtos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    max-height: 75vh;
    overflow-y: scroll;
}
.corpoPrincipal .consultaProdutos .confirmarLancamento{
    border-radius: 10px;
    border: #CCCCCC;
    width: 100%;
    height: 35px;
    background-color: #3B843B;
    color: white;
    font-size: 24px;
    margin-top: 10px;
}
/* ----- FIM DO ESTILO DO PAINEL DE CONSULTA DE PRODUTOS ----- */

/* ----- ESTILO DOS PRODUTOS CADASTRADOS ----- */
.corpoPrincipal .consultaProdutos .produtos .itemProdutos{
    margin: 0px 13px 13px 0px;
    width: 120px;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos h1{
    font-size: 18px;
    height: 40px;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos h2{
    border-top: 1px solid #666666;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos .containerProdutos{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos .adicionarTirarItem{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos .adicionarTirarItem button{
    border: none;
    background-color: transparent;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos .adicionarTirarItem img{
    width: 25px;
}
/* ----- FIM DO ESTILO DOS PRODUTOS CADASTRADOS ----- */

/* -----ESTILO DA BARRA DE ROLAGEM----- */
.produtos::-webkit-scrollbar-track {
    background-color:#666666;
    -webkit-border-radius: 5px;
}
.produtos::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}
.produtos::-webkit-scrollbar-thumb {
    background: white;
    -webkit-border-radius: 5px;
}
/* ----- FIM DO ESTILO DA BARRA DE ROLAGEM----- */

/* ----- ESTILO DO PAINEL DE ITENS LANÇADOS ----- */
.corpoPrincipal .itenslancados{
    padding: 10px;
    height: 100%;
}
.corpoPrincipal .itenslancados .numeroMesa{
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    background-color: #F58634;
    color: white;
    width: 120px;
    text-align: center;
    margin-bottom: 10px;
}
.corpoPrincipal .itenslancados .gridItens{
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
}
.corpoPrincipal .itenslancados .totalMesa{
    border-radius: 10px;
    border: #CCCCCC;
    height: 35px;
    width: 100%;
    background-color: #3B843B;
    color: white;
    font-size: 34px;
    margin-top: 20px;
    text-align: right;
    padding-right: 5px;
}
/* ----- FIM DO ESTILO DO PAINEL DE ITENS LANÇADOS ----- */

/* ----- ESTILO DOS ITENS LANÇADOS ----- */
.corpoPrincipal .itenslancados .gridItens .itemLancado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid ;
    padding: 3px;
    height: 40px;
    font-size: 16px;
}
.corpoPrincipal .itenslancados .gridItens .itemLancado:last-child{
    border: 0;
}
.corpoPrincipal .itenslancados .gridItens .itemLancado .valoresItem{
    display: flex;
    align-items: center;
}
.corpoPrincipal .itenslancados .gridItens .itemLancado .valorItem{
    margin-right: 5px;
}
.corpoPrincipal .itenslancados .gridItens .itemLancado button{
    border: none;
    border-left: 1px solid;
    background-color: transparent;
    padding: 2px;
}
.corpoPrincipal .itenslancados .gridItens .itemLancado img{
    width: 35px;
}

@media (max-width: 1150px) {
    .corpoPrincipal{
        display: block;
    }
    .corpoPrincipal .tela{
        width: 91%;
    }
}