.header{
    display: flex;
    align-items: center;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
}
main{
    background: url(../imagens/logo_fundo.png) no-repeat;
    background-color: #EFEFEF;
    height: 100vh;
}
.corpoPrincipal{
    display: flex;
    justify-content: space-between;
}
.corpoPrincipal .tela{
    background-color: #CCCCCC;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    width: 45%;
}
.corpoPrincipal .consultaProdutos{
    padding: 10px;
    text-align: center;
}
.corpoPrincipal .consultaProdutos input{
    border-radius: 10px;
    border: #CCCCCC;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.corpoPrincipal .consultaProdutos .produtos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    max-height: 700px;
    overflow-y: scroll;
}

/* -----ESTILO DA BARRA DE ROLAGEM----- */
.produtos::-webkit-scrollbar-track {
    background-color:#666666;
    -webkit-border-radius: 5px;
}
.produtos::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}
.produtos::-webkit-scrollbar-thumb {
    background: white;
    -webkit-border-radius: 5px;
}
/* ----- FIM DO ESTILO DA BARRA DE ROLAGEM----- */

.corpoPrincipal .consultaProdutos .produtos .itemProdutos{
    margin: 0px 13px 13px 0px;
    width: 120px;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos h1{
    font-size: 18px;
    height: 40px;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos h2{
    border-top: 1px solid #666666;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos .containerProdutos{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos .adicionarTirarItem{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
}
.corpoPrincipal .consultaProdutos .produtos .itemProdutos .adicionarTirarItem img{
    width: 25px;
    margin-top: 3px;
}
.confirmarLancamento{
    border-radius: 10px;
    border: #CCCCCC;
    width: 100%;
    height: 35px;
    background-color: #3B843B;
    color: white;
    font-size: 24px;
    margin-top: 10px;
}
@media (max-width: 900px) {
    .corpoPrincipal{
        display: block;
    }
    .corpoPrincipal .tela{
        width: 91%;
    }
}